/*body css begining*/
body {
  background: #e3e3e3;
  background-repeat:repeat;
  background-size: 100% 100%;
  font-family: 'Raleway',sans-serif;
  text-transform: capitalize;
}
/*body css ending*/

/*container_12 css begining*/
.container_12{
  height: 700px;
}
/*container_12 css ending*/

/*header css begining*/
/*nav css begining*/
nav {
  margin-top: 40px;
}

nav li{
    display: inline;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 15px;
}

nav  ul li :hover ul{
  display: block;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #6E6E6E;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  background: #6E6E6E;
  display: block;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: #e3e3e3;}
ul li ul li:last-child {
  font-size:13px;
}
/*nav css ending*/

.wrap h1{
  margin-top: 25px;
  text-transform: full-width;
  letter-spacing: -1;
  border-right: 1px solid black;
  box-sizing: border-box;
  font-variant: small-caps;
}

.wrap header{
  background: white;
  position: fixed;
}

.wrap header h1{
  text-align: center;
  font-variant: small-caps;
}

.wrap img{
  height: 90px;
}
/*header css ending*/

/*hero element css begining*/
.hero {
  width: 700px;
  height: 600px;
  align-content: center;
  margin-top: 120px;
  display: block;
  border: 10px solid black;
  background: url(../img/book3.jpg);
}

.hero h1{
  text-align: center;
  padding-top: -5px;
  margin-top: 13px;
  border: 0px;
}
/*hero element css ending*/

.primary ul{

  display: block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  list-style-type: none;
}

.primary p{
  font-size:15px;
  color:blue;
  font-weight:bolder;
}

.primary p a{
   color:green;
   font-weight:bolder;
}

/*two column grid begining(both images)*/
.popular section{
  box-sizing: border-box;
  background: white;
  border: 2px solid black;
}

.popular .bk{
    display: inline-block;;
}

.popular div{
     margin-top:10px;
}

.popular img{
    margin-left: 50px;
    margin-right: 100px;
    width: 59px;
    height: 90px;
}
/*two column grid ending(both images)*/


section h5{
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
  background: cyan;
}

h5 :hover{
  color:green;
  font-weight: bolder;
}


li :hover{
  color:black;
  font-weight: bolder;
}


.sub img{
    width: 380px;
    height: 200px;
}

.sub {
    margin-bottom: 20px;
}

hr{
   border-width:1px;
   border-color:#3e3e3e;
   margin-top:10px;
}

h2 , h6{
  text-align: center;
}

.first {
  margin-top: 100px;
  box-sizing: border-box;
  font-size: 17px;
}

.second {
  margin-top: 30px;
  box-sizing: border-box;
  font-size: 17px;
}

.third {
  margin-top: 30px;
  box-sizing: border-box;
  font-size: 17px;
}

.first img{
  width:310px;
  height: 209px;

}

.second img{
  width:310px;
  height: 209px;

}

.third img{
  width:310px;
  height: 209px;
}

 a{
  text-decoration: none;
  color: black;
}

section h4{
  text-align: center;
}


.main {
  margin: 30px 0px 20px 0px ;
}

section {
  box-sizing: border-box;
  padding: 15px;
}

.content {
  float: right;
  margin-left:40px;
  width: 270px;
  font-style: italic;
  font-variant: small-caps;
  padding-left: 50px;
}

.content h1{
    border-right: 0px;
}

.content p{
  font-variant: normal;
  color: red;
  font-size: 17px;
}

.img{
  float: left;
}


.content1 {
  float: left;
  font-size: 20px;
  font-style: italic;
  font-variant: small-caps;
  border-right: 0px;
}

.content1 p{
  font-variant: normal;
  color: red;
  font-size: 17px;
}

.content1 h1{
    border-right: 0px;
}

.img1{
  float: right;
  padding-left: 120px;
}

.continue a:hover{
  color: #504A4B;
}

/*footer css begining*/
.footer {
  box-sizing: border-box;
  background: #504A4B;
  color: black;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.footer a{
  color: #e3e3e3;
}

.footer a:hover{
  color: black;
}

.footer section p{
  margin-bottom: -10px;
  margin-top: 30px;
}


section ul{
  display: inline;
}


.link li .grid_1.alpha{
  height: 0px;
}

.footer .link img{
  width: 22px;
  height: 22px;
  margin-top: -20px;
}

.footer section .abt .grid_2{
  margin-top: -50px;
}
/*footer css ending*/
